* {
    text-decoration: none;
    box-sizing: border-box;
}



html, body {
    max-width:100%;   
    overflow-x: hidden;
    font-family: "Lato",Arial, Helvetica, sans-serif; 

}

@font-face {
    font-family: Lato;
    src: url(../Font/Lato-Regular.ttf);
}

.paragraph {
    width: 150%;
}

a {
    color: #F9FBFE
}

a:hover {
    color: #888383;
}

a:active {
    color: #F9FBFE;
    transition: 0.5s;
}

li {
    list-style: none;
}

.container-header {
    width: 100%;
}

header {
    position: relative;
    z-index: 10;
    color: white;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-left {
    float: left;
    width: 100%;
    height: 67px;
    padding-top: 25px;
    padding-left: 138px;

}

.header-right {
    margin-right: 110px;
    color: #F9FBFE;
}

.header-right li{
    overflow-x: hidden;
    float: right;
    margin-right: 50px;
    font-size: 30px;
    
}

.top-wrapper {
    text-align: center;
    color: #F9FBFE;
    border-radius: 30px;
    width: 100%;
}

.top-container {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 30px;
    padding: 0;
    position: relative;
    background-image: url(../Image/Coffe\ Header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-title {
    height: 700px;
    width: 100%;   
    margin: 0;
    border-radius: 30px;
    background-color: rgba(20, 54, 66, 0.70);
}

.top-title h1{
    color: #F9FBFE;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    padding-top: 239px;
}  

.top-title p{
    color: #F9FBFE;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0
}


.about {
    text-align: left;
    width: 100%;
    height: 460px;
    display:flex;
    margin: 100px 257px 100px 258px;

}
.about-container {
    margin: 0;
    padding: 0;
    width: auto;
    height: 460px;
    background: white;
    
}

.about-container img {
    height: 460px;
    width: 335px;
    object-fit: cover;
    border-radius: 20px;
}

.about-text {
    margin-left: 138px;
    float: left;
}

.about-text h2{
    width: 284px;
    height: 58px;
    font-size: 48px;
    color: #0F8B8D;
    padding-bottom: 20px;
    border-bottom: 5px solid #EC9A29;
    margin: 0;
}

.about-text p {
    color: #143642;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    width: 452px;
}

.product {
    text-align: left;
    width: 925px;
    height: 460px;
    display: flex;
    margin: 100px 257px 100px 258px;

}

.product-text {
    margin-right: 166px;
    height: 58px;
    width: 425px;
}

.product-text h2{
    width: 400px;
    height: 58px;
    font-size: 48px;
    color: #0F8B8D;
    padding: 0 0 20px 0;
    border-bottom: 5px solid #EC9A29;
    margin: 0;
}

.product-text p {
    color: #143642;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    height: 58px;
    width: 425px;
}

.product-text a {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 55px;
    background-color: #A8201A;
    width: 335px;
    height: 70px;
    padding: 20px 49px 21px 50px;
    margin: 0;
}

.product-text a:hover {
    background-color: #e72e25;
    color: rgb(139, 136, 136);
    border: 2px solid #A8201A;
    transition: 0.5s;
} 

.product-text a:active {
    background-color: #A8201A;
    color: #F9FBFE;
    transition: 0.5s;
}

.product-container {
    margin: 0;
    padding: 0;
    width: 690px;
    height: 460px;
    background: white;
    
}

.product-container img {
    height: 460px;
    width: 335px;
    object-fit: cover;
    border-radius: 20px;
}

.store {
    text-align: left;
    width: 989px;
    height: 453px;
    display:flex;
    margin: 100px 257px 100px 258px;

}
.store-container {
    margin: 0;
    padding: 0;
    width: 690px;
    height: 460px;
    background: white;
    
}

.store-container img {
    height: 453px;
    width: 453px;
    object-fit: cover;
    border-radius: 20px;
}

.store-text {
    margin-left: 138px;
}

.store-text h2{
    width: 382px;
    height: 58px;
    font-size: 48px;
    color: #0F8B8D;
    padding-bottom: 20px;
    border-bottom: 5px solid #EC9A29;
    margin: 0;
}

.store-text p {
    color: #143642;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.store-text a {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 65px 0 0 0;
    border-radius: 55px;
    background: #A8201A;
    width: 335px;
    height: 70px;
    padding: 20px 93px 21px 94px;
}

.store-text a:hover {
    background-color: #e72e25;
    color: rgb(139, 136, 136);
    border: 2px solid #A8201A;
    transition: 0.5s;
} 

.store-text a:active {
    background-color: #A8201A;
    color: #F9FBFE;
    transition: 0.5s;
}

/*Untuk animasi*/
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.fade-left {
  animation: fade-left 0.5s ease-in;
}
.active.fade-right {
  animation: fade-right 0.5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contents-wrapper {
    width: 100%;;
    height: 632px;

}

.container-contents h2 {
    color: #0F8B8D;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 70px;
    margin-left: 257px;
}

.container-contents span {
    color: #EC9A29;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration-line: underline;
}

.contents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1035px;
    height: 632px;
    margin-left: 257px;
    margin-bottom: 100px;
    padding-left: 0;
}

.contents-list img {
    width: 100%;
    height: 237px;
    object-fit: contain;
    padding-right: 108px;

}

.message-wrapper {
    width: 100%;
    padding-top: 100px;
}

.container-message {
    width: 877px;
    height: 197px;
    margin: 100px 282px;
}

.container-message h2{
    color: #0F8B8D;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container-message p {
    color: #143642;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
}

.container-message a {
    width: 335px;
    height: 70px;
    border-radius: 55px;
    background: #A8201A;
    padding-top: 20px;
    padding-right: 110px;
    padding-bottom: 21px;
    padding-left: 112px;
    margin-left: 270px;
    color: #F9FBFE;
}

.container-message a:hover {
    background-color: #e72e25;
    color: rgb(139, 136, 136);
    border: 2px solid #A8201A;
    transition: 0.5s;
} 

.container-message a:active {
    background-color: #A8201A;
    color: #F9FBFE;
    transition: 0.5s;
} 

.container-footer {
    width: 100%;
    height: 460px;
    display: flex;
    border-radius: 30px;
    background: #143642;
}

.footer-logo { 
    padding-top: 80px;
    padding-left: 138px;
}

.footer-logo img {
    padding-bottom: 31px;
}

.logo-contact {
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

.logo-mail img{
    width: 40px;
    height: 32px;
    padding-right: 27px;
    box-sizing: unset;
}

.logo-phone img{
    width: 32px;
    height: 32px;
    padding-right: 27px;
    box-sizing: unset;
}

.footer-product {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 139px;
    padding-top: 80px;
    
}

.footer-product a:hover {
    color: #e68805;
}

.accordion {
    cursor: pointer;
    color: #EC9A29;
    border-bottom: 1px solid gray;
    width: 140px;
}

/*add icon accordion*/
.accordion:after {
    content: '\25C4'; /* Unicode character for "plus" sign (+) */
    font-size: 17px;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
.accordion.active:after {
    content: "\25BD"; /* Unicode character for "minus" sign (-) */
}

.panel {
    display: none;
}

.footer-product p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 29px;
    padding-left: 0;
}

.footer-store {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 80px;
    padding-left: 80px;
}

.footer-store a {
    color: #EC9A29;
}

.footer-store a:hover {
    color: #e68805;
}

.footer-store p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-contact {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 80px;
    padding-top: 80px;
    
}

.footer-contact a {
    color: #EC9A29;
}

.footer-contact a:hover {
    color: #e68805;
}

.footer-contact p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 187px;
    height: 29px;
}

/* Animasi */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
