* {
    text-decoration: none;
    box-sizing: border-box;
}



html, body {
    max-width:100%;
    overflow-x: hidden;
    font-family: "Lato",Arial, Helvetica, sans-serif; 
   
    
}

@font-face {
    font-family: Lato;
    src: url(../font/Lato-Regular.ttf);
}    

.paragraph {
    width: 150%;
}

a {
    color: #F9FBFE
}

.active, .href:hover {
    border-bottom: 3px solid #EC9A29;
}

li {
    list-style: none;
}

.container-header {
    width: 100%;
}

header {
    color: white;
    background-color: #0F8B8D;
    border-radius: 30px 30px 0 0;
    height: 145px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-left {
    float: left;
    width: 335px;
    height: 67px;
    padding-top: 25px;
    padding-left: 138px;

}

.header-right {
    margin-right: 110px;
    
}

.header-right li{
    float: right;
    margin-right: 50px;
    font-size: 30px;
    margin-top: 54px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.main-menu {
    display: flex;
    padding: 30px 30px;
    }

.container-side {
    width: 40%;
    margin-top: 39.84px;
    margin-bottom: 75px;
    font-size: 18px;
    border: 2px solid #858888;
    padding-left: 40px;
    padding-right: 20px;
    line-height: 50px;
    border-radius: 20px;
}

.container-side h2{
    color: #0F8B8D;
}

.container-side ul{
    border-left: 5px solid orange;
}

.sideBar a{
    color: #143642;
}



.menu-title h2{
    color: #0F8B8D;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-title p {
    color: #143642;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-items{
    display:flex;
    flex-wrap: wrap;
    width: 110%;
    padding: 40px;
    justify-content: center;
    
}

.coffeeBased, .nonCoffee, .teaBased {
    background-image: url(../image/Coffee\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 216px;
    height: 216px;
    border-radius: 20px;
    margin-top: 20.140px;
    margin-right: 122px;
    margin-bottom: 20.140px;
    padding-left: 10px;
    
}

.coffeeBased a, .nonCoffee a, .teaBased a {
    display: flex;
    height: 220px;
    flex-direction: column;
}

.coffeeBased a:hover, .nonCoffee a:hover, .teaBased a:hover {
    flex-direction: column-reverse;
    transition: 5s;
}

.coffeeBased h3, .nonCoffee h3, .teaBased h3 {
    color: #F9FBFE;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coffeeBased p, .nonCoffee p, .teaBased p {
    color: #F9FBFE;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.coffeeBased img, .nonCoffee img, .teaBased img {
    width: 186px;
    height: 139.632px;
    padding-left: 15px;
}

.container-footer {
    width: 100%;
    height: 460px;
    display: flex;
    border-radius: 30px;
    background: #143642;
}

.footer-logo { 
    padding-top: 80px;
    padding-left: 138px;
}

.footer-logo img {
    padding-bottom: 31px;
}

.logo-contact {
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

.logo-mail img{
    width: 40px;
    height: 32px;
    padding-right: 27px;
    box-sizing: unset;
}

.logo-phone img{
    width: 32px;
    height: 32px;
    padding-right: 27px;
    box-sizing: unset;
}

.footer-product {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 139px;
    padding-top: 80px;
    
}

.footer-product a:hover {
    color: #e68805;
}

.accordion {
    cursor: pointer;
    color: #EC9A29;
    border-bottom: 1px solid gray;
    width: 140px;
}

/*add icon accordion*/
.accordion:after {
    content: '\25C4'; /* Unicode character for "plus" sign (+) */
    font-size: 17px;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
.accordion.active:after {
    content: "\25BD"; /* Unicode character for "minus" sign (-) */
}

.panel {
    display: none;
}

.footer-product p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 29px;
    padding-left: 0;
}

.footer-store {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 80px;
    padding-left: 80px;
}

.footer-store a {
    color: #EC9A29;
}

.footer-store a:hover {
    color: #e68805;
}

.footer-store p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-contact {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 80px;
    padding-top: 80px;
    
}

.footer-contact a {
    color: #EC9A29;
}

.footer-contact a:hover {
    color: #e68805;
}

.footer-contact p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 187px;
    height: 29px;
}
