@media (max-width: 670px) {
    header {
        height: 125px;
    }

    .header-left {
        padding-left: 40px;
    }

    .logo-white {
        height: 50%;
    }

    .header-right {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .header-right ul {
        margin-top: 0;
    }

    .header-right li {
        margin-top:20px;
        font-size: 14px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .main-menu {
        flex-wrap: wrap;
        padding: 0;
    }

    .main-menu {
        flex-wrap: wrap;
    }
    #mySideBar {
        width: 100%;
        margin: 0;
        margin: 0 30px;
    }

    .menu-title h2{
        font-size: 20px;
        margin-top: 40px;
    }
    
    .menu-title p {
        font-size: 12px;
        font-weight: 400;

    }

    .menu-items{
        display:flex;
        flex-wrap: wrap;
        width: 440px;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
        margin-left: 10px;
        
    }

    .filterDiv {
        width: 38%;
        margin: 10px;
        height: 170px
    }

    .filterDiv img{
        width: 135px;
        height: 80px
    }
    
    .menu-image {
        width: 135px;
        height: 135px;
        border-radius: 20px;
        margin: 10px 9px;
        padding-left: 10px;
        
    }

    .menu-image h3 {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
    }
    
    .menu-image p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    
    .menu-image img {
        height: 89px;
        width: 120px;
        padding-left: 0;
    }

    .menu-image a:hover {
        height: auto;
    }

    .coffeeBased a:hover, .nonCoffee a:hover, .teaBased a:hover {
        flex-direction: column-reverse;
        transition: 5s;
        justify-content: flex-end;
    }

    .container-footer {
        flex-direction: column;
    }
    
    .footer-logo {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50px;
        padding-bottom: 0;
    }

    .logo.white.\31 {
        height: 50%;

    }

    .logo-contact {
        margin: 0 0 0 73px
    }

    .footer-product {
        padding: 0;
        padding-left: 40px;
        margin-top: 30px;
    }

    .footer-product h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .footer-product p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5px;
        height: 15px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .footer-store {
        padding: 0;
        padding-left: 40px;
        margin-top: 30px;
    }

    .footer-store h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .footer-store p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5px;
        height: 15px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .footer-contact {
        padding: 0;
        padding-left: 40px;
        margin-top: 30px;
    }

    .footer-contact h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .footer-contact p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5px;
        height: 15px;
        margin-top: 10px;
        margin-bottom: 0;
    }


}
