* {
    text-decoration: none;
}



html, body {
    max-width:100%;
    overflow-x: hidden;
font-family: "Lato",Arial, Helvetica, sans-serif; 
   
    
}

@font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
}    

.paragraph {
    width: 150%;
}

a {
    color: #F9FBFE
}

a:hover {
    color: #888383;
}

a:active {
    color: #F9FBFE;
    transition: 0.5s;
}

li {
    list-style: none;
}

.container-header {
    width: 100%;
}

header {
    color: white;
    background-color: #0F8B8D;
    border-radius: 30px 30px 0 0;
    height: 145px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-left {
    float: left;
    width: 335px;
    height: 67px;
    padding-top: 25px;
    padding-left: 138px;

}

.header-right {
    margin-right: 110px;
    
}

.header-right li{
    float: right;
    margin-right: 50px;
    font-size: 30px;
    margin-top: 54px;
    
    text-align: center;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main {
    
    width: 100%;
}

.container-product {
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 43.65px;
}

.product-image img{
    margin-left: 177px;
}

.product-name h3 {
    color: #0F8B8D;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 60px;
    margin-bottom: 30px;
}

.product-name p {
    color: #143642;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 60px;
    margin-bottom: 60px;
    width: 920px;
}

.product-name h2 {
    color: #0F8B8D;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 60px;
}

.container-description {
    width: 100%;
    height: 305px;
    
}
.container-description h2 {
    color: #0F8B8D;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 257px;
    margin-bottom: 20px;
    border-bottom: 5px solid #EC9A29;
    width: 381px;
    padding-bottom: 20px;
}

.container-description p{
    color: #143642;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 257px;
    margin-bottom: 65px;
}

.btn-back {
    width: 335px;
    height: 70px;
    background-color: #A8201A;
    padding: 20px 40px;
    color: #F9FBFE;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 257px;
    text-decoration: none;
    border-radius: 55px;
}

a.btn-back:hover {
    background-color: #e72e25;
    color: rgb(139, 136, 136);
    border: 2px solid #A8201A;
    transition: 0.5s;
} 

a.btn-back:active {
    background-color: #A8201A;
    color: #F9FBFE;
    transition: 0.5s;
}

.container-footer {
    width: 100%;
    height: 460px;
    display: flex;
    border-radius: 30px;
    background: #143642;
    margin-top: 121px;
}

.footer-logo { 
    padding-top: 80px;
    padding-left: 138px;
}

.footer-logo img {
    padding-bottom: 31px;
}

.logo-contact {
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

.logo-mail img{
    width: 40px;
    height: 32px;
    padding-right: 27px;
}

.logo-phone img{
    width: 32px;
    height: 32px;
    padding-right: 27px;
}
.footer-product {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 139px;
    padding-top: 80px;
}

.footer-product a {
    color: #EC9A29;
}

.footer-product a:hover {
    color: #e68805;
}


.footer-product p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 29px;
    padding-left: 0;
}

.footer-store {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 80px;
    padding-left: 100px;
}

.footer-store a {
    color: #EC9A29;
}

.footer-store a:hover {
    color: #e68805;
}

.footer-store p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-contact {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 100px;
    padding-top: 80px;
    
}

.footer-contact a {
    color: #EC9A29;
}

.footer-contact a:hover {
    color: #e68805;
}

.footer-contact p {
    color: #F9FBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 187px;
    height: 29px;
}
